{
    "presets":[
        [
            "env",
            {
                "targets": {
                    "node":"10.2"
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
